@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Rider Payment List";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card-box">
                        <h4 class="header-title text-success">Rider Payment List</h4>
                        <div class="mb-3">
                            <button id="withoutDueButton" class="btn btn-success">Complete Payments</button>
                            <button id="dueButton" class="btn btn-primary">Due Payments</button>
                        </div>
                        <div class="table-responsive">
                            <table class="table mb-0" id="riderPaymentsTable">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Rider Name</th>
                                        <th>Total Amount</th>
                                        <th>Paid Amount</th>
                                        <th>Due Amount</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sl = 1;
                                    }
                                    @foreach (var rider in Model)
                                    {
                                        <tr>
                                            <td>@sl</td>
                                            <td>@rider.RiderName</td>
                                            <td>@rider.TotalAmount</td>
                                            <td>@ViewBag.AmountCollected</td>
                                            <td>@ViewBag.DueAmount</td>
                                            
                                            <td>@DateTime.Now.ToString("dd/MM/yyyy")</td>
                                        </tr>
                                        sl++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#withoutDueButton').on('click', function () {
                $('#riderPaymentsTable tbody tr').show();
                $('#riderPaymentsTable tbody tr:contains("Due")').hide();
            });

            $('#dueButton').on('click', function () {
                $('#riderPaymentsTable tbody tr').hide();
                $('#riderPaymentsTable tbody tr:contains("Due")').show();
            });
        });
    </script>
}
