@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>

                            </ol>
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-warning d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Pending Pickup Requests</h6>
                            <h3 class="my-3" data-plugin="counterup">@ViewBag.TotalPickupRequest</h3>
                        </div>
                        <i class="fas fa-truck-loading fa-3x text-black"></i>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-success d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">In Hub</h6>
                            <h3 class="my-3"><span data-plugin="counterup">@ViewBag.ParcelInHub</span></h3>
                        </div>
                        <i class="fas fa-warehouse fa-3x text-black"></i>

                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-primary d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Delivered Today</h6>
                            <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TodayDelivered</span></h3>
                        </div>
                        <i class="fas fa-check-circle fa-3x text-black"></i>
                    </div>
                </div>
            </div>


            <hr />
            <!-- end row -->
            

            <div class="row justify-content-center">
                
                

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-success d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Delivered</h6>
                            <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalDelivered</span></h3>
                        </div>
                        <i class="fas fa-truck fa-3x text-black"></i>
                    </div>

                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-red d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Parcel On The Way</h6>
                            <h3 class="my-3"><span data-plugin="counterup">@ViewBag.ParcelOnTheWay</span></h3>
                        </div>
                        <i class="fas fa-shipping-fast fa-3x text-black"></i>

                    </div>

                </div>


            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">

                    <div class="card-box tilebox-one bg-warning d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Returned</h6>
                            <h3 class="my-3" data-plugin="counterup">@ViewBag.ReturnParcelCount</h3>
                        </div>
                        <i class="fas fa-arrow-circle-left fa-3x text-black"></i>
                    </div>

                    
                    
                </div>

                <div class="col-md-6 col-xl-3">

                    <div class="card-box tilebox-one bg-success d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Parcel Count</h6>
                            <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalParcel</span></h3>
                        </div>
                        <i class="fas fa-box fa-3x text-black"></i>
                    </div>



                    
                </div>
                <div class="col-md-6 col-xl-3">

                    <div class="card-box tilebox-one bg-info d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Parcel Exchange</h6>
                            <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalExchanged</span></h3>
                        </div>
                        <i class="fas fa-exchange-alt fa-3x text-black"></i>
                    </div>





                </div>
            </div>
            <div class="card mx-auto" style="max-width: 400px;">
                <div class="card-body">
                    <h5 class="card-title text-center">Today's Accounts</h5>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Total Delivery Charge</th>
                                <td>100 BDT</td>
                            </tr>
                            <tr>
                                <th scope="row">COD (Cash on Delivery)</th>
                                <td>0 BDT</td>
                            </tr>
                            <tr>
                                <th scope="row">Discount</th>
                                <td>0 BDT</td>
                            </tr>
                            <tr>
                                <th scope="row">Promo Discount</th>
                                <td>0 BDT</td>
                            </tr>
                            <tr>
                                <th scope="row">Additional Charge</th>
                                <td>0 BDT</td>
                            </tr>
                            <tr>
                                <th scope="row">Total Cost</th>
                                <td>110 BDT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card-box">
                        <h4 class="header-title text-success">Today's Parcel : @ViewBag.TodayTotalParcel </h4>
                        @{
                            int sl = 1;
                        }
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>ID</th>
                                        <th>Hub</th>
                                        <th>Rider</th>
                                        <th>Pickup Location</th>
                                        <th>Pickup Request Date</th>
                                        <th>Receiver Information</th>
                                        <th>Product</th>
                                        <th>Delivery</th>
                                        <th>Total Price</th>
                                        <th>Status</th>
                                        <th>Action</th>

                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var parcel in ViewBag.TodayParcelList)
                                    {
                                        <tr>
                                            <td>@sl</td>
                                            <td>@parcel.Id</td>

                                            @if (parcel.HubId == null)
                                            {
                                                <td><span class="badge badge-danger text-medium">Not Assigned</span></td>
                                            }
                                            else
                                            {

                                                <td>
                                                    <strong>Name:</strong> @parcel.Hub.Name <br />
                                                    <strong>Phone:</strong> @parcel.Hub.PhoneNumber
                                                </td>
                                            }

                                            @if (parcel.RiderId == null)
                                            {
                                                <td><span class="badge badge-danger text-medium">Not Assigned</span></td>
                                            }
                                            else
                                            {

                                                <td>
                                                    <strong>Name:</strong> @parcel.Rider.Name <br />
                                                    <strong>Phone:</strong> @parcel.Rider.ContactNumber
                                                </td>
                                            }
                                            <td>@parcel.PickupLocation</td>
                                            <td>@(parcel.PickupRequestDate?.ToString("M/d/yyyy, h:mm tt"))</td>
                                            <td>
                                                <strong>Name:</strong> @parcel.ReceiverName<br>
                                                <strong>Address:</strong> @parcel.ReceiverAddress<br>
                                                <strong>Contact:</strong> @parcel.ReceiverContactNumber
                                            </td>

                                            <td>
                                                <strong>Name:</strong> @parcel.ProductName <br />
                                                <strong>Weight:</strong> @parcel.ProductWeight KG <br />
                                                <strong>Price:</strong> @parcel.ProductPrice TK <br />
                                                <strong>Quantity:</strong> @parcel.ProductQuantity <br />
                                            </td>

                                            <td>
                                                <strong>Type:</strong> @parcel.DeliveryType <br />
                                                <strong>Charge:</strong> @parcel.DeliveryCharge TK <br />
                                            </td>
                                            <td>@parcel.TotalPrice TK</td>


                                            @if (parcel.Status == "Pickup Request")
                                            {
                                                <td><span class="badge badge-success font-weight-bold">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Dispatched")
                                            {
                                                <td><span class="badge badge-warning font-weight-bold">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Transit")
                                            {
                                                <td><span class="badge badge-info text-medium">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Delivered")
                                            {
                                                <td><span class="badge badge-success text-medium">@parcel.Status</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-danger text-medium">@parcel.Status</span></td>
                                            }

                                            <td>
                                                @if (parcel.Status == "Parcel Returned To Merchant")
                                                {
                                                    <a asp-route-id="@parcel.Id" asp-controller="Merchant" asp-action="ReturnParcelReceived" class="btn btn-sm btn-success">
                                                        <i class="fas fa-check"></i> Return Parcel Received
                                                    </a>
                                                }
                                                else if(parcel.Status =="Exchanged Parcel Returned Merchant")
                                                {
                                                    <a asp-route-id="@parcel.Id" asp-controller="Merchant" asp-action="ExchangeParcelReceived" class="btn btn-sm btn-success">
                                                        <i class="fas fa-check"></i> Exchange Parcel Received
                                                    </a>
                                                }
                                                
                                            </td>

                                        </tr>
                                        sl++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>
            <!-- end row -->

        </div> <!-- end container-fluid -->

    </div> <!-- end content -->





</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
