@model Merchant

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-box">
                        <h4 class="header-title">My Profile</h4>
                        <div class="col-lg-6">
                            <h5>Information</h5>
                            <p><strong>ID:</strong> @Model.Id</p>
                            <p><strong>Name:</strong> @Model.Name</p>
                            <p><strong>Company Name:</strong> @Model.CompanyName</p>
                            <p><strong>Address:</strong> @Model.FullAddress</p>
                            <p><strong>Contact Number:</strong> @Model.ContactNumber</p>
                            <p><strong>Email:</strong> @Model.Email</p>
                            <!-- Add more Merchant information here as needed -->
                        </div>
                        <hr>
                        <div>
                            <h5>Update Profile</h5>
                            <form method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="Password" />
                                <input type="hidden" asp-for="Area" />
                                <input type="hidden" asp-for="District" />
                                <input type="hidden" asp-for="TradeLicense" />
                                <input type="hidden" asp-for="CompanyAddress" />
                                <input type="hidden" asp-for="Tin" />
                                <input type="hidden" asp-for="NID" />
                                <div class="form-group">
                                    <label asp-for="Name" for="Name">Name<span class="text-danger">*</span></label>
                                    <input asp-for="Name" type="text" name="Name" parsley-trigger="change" required
                                           placeholder="Enter Name" class="form-control" id="Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CompanyName" for="CompanyName">Company Name<span class="text-danger">*</span></label>
                                    <input asp-for="CompanyName" type="text" name="CompanyName" parsley-trigger="change" required
                                           placeholder="Enter Company Name" class="form-control" id="CompanyName">
                                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FullAddress" for="FullAddress">Address<span class="text-danger">*</span></label>
                                    <input asp-for="FullAddress" type="text" name="FullAddress" parsley-trigger="change" required
                                           placeholder="Enter Address" class="form-control" id="Address">
                                    <span asp-validation-for="FullAddress" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ContactNumber" for="ContactNumber">Contact Number<span class="text-danger">*</span></label>
                                    <input asp-for="ContactNumber" type="text" name="ContactNumber" parsley-trigger="change" required
                                           placeholder="Enter Contact Number" class="form-control" id="ContactNumber">
                                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" for="Email">Email address<span class="text-danger">*</span></label>
                                    <input asp-for="Email" type="email" name="Email" parsley-trigger="change" required
                                           placeholder="Enter Email" class="form-control" id="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                @* <div class="form-group">
                                <label asp-for="Password" for="Password">Password<span class="text-danger">*</span></label>
                                <input asp-for="Password" type="password" name="Password" parsley-trigger="change"
                                placeholder="Enter password" class="form-control" id="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                                </div> *@
                                @* <div class="form-group">
                                <label for="confirmPassword">Confirm Password<span class="text-danger">*</span></label>
                                <input type="password" name="confirmPassword" parsley-trigger="change" required
                                placeholder="Confirm password" class="form-control" id="confirmPassword">
                                <span asp-validation-for="Name" class="text-danger"></span>
                                </div> *@
                                @* <div class="form-group">
                                    <label for="imageUrl">Image</label>
                                    <input type="file" name="file" parsley-trigger="change"
                                           placeholder="Enter Image URL" class="form-control" id="imageUrl">
                                </div> *@
                                <div class="form-group text-right mb-0">
                                    <button asp-controller="Merchant" asp-action="UpdateProfile" class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                        Update Profile
                                    </button>
                                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                @* <div class="col-lg-4">
                    <img src="@Model.ImageUrl" style=" width:100%; border-radius:5px; border:1px solid #bbb9b9" />
                </div> *@
            </div>
        </div>
    </div>
</div>
