@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
        ViewData["Title"] = "Returned Parcels";
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
@model IEnumerable<Parcel>
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                @using (Html.BeginForm("ReturnParcelList", "Merchant", FormMethod.Get))
                {
                    <div class="form-group text-center">
                        <!-- Center the form -->
                        <label for="datepicker">Select Date:</label>
                        <input type="date" id="datepicker" name="selectedDate" class="form-control form-control-sm" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-md">Filter</button>
                    </div>
                }
                <div class="col-lg-12">
                    <div class="card-box">
                        <h4 class="header-title text-primary">Total Return Parcel : @Model.Count()</h4>

                        <div class="table-responsive" style="overflow-x: auto;">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>ID</th>
                                        <th>Hub</th>
                                        <th>Rider</th>
                                        <th>Pickup Location</th>
                                        <th>Pickup Request Date</th>
                                        <th>Return Date</th>
                                        <th>Receiver Information</th>
                                        <th>Product</th>
                                        <th>Delivery</th>
                                        <th>Total Price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sl = 1;
                                    }

                                    @foreach (var parcel in Model.OrderByDescending(u => u.PickupRequestDate))
                                    {

                                        <tr>
                                            <td>@sl</td>
                                            <td>@parcel.ReturnParcel.Id</td>
                                            @if (parcel.HubId == null)
                                            {
                                                <td><span class="badge badge-danger text-medium">Not Assigned</span></td>
                                            }
                                            else
                                            {

                                                <td>
                                                    <strong>Name:</strong> @parcel.Hub.Name <br />
                                                    <strong>Phone:</strong> @parcel.Hub.PhoneNumber
                                                </td>
                                            }
                                            @if (parcel.RiderId == null)
                                            {
                                                <td><span class="badge badge-danger text-medium">Not Assigned</span></td>
                                            }
                                            else
                                            {

                                                <td>
                                                    <strong>Name:</strong> @parcel.Rider.Name <br />
                                                    <strong>Phone:</strong> @parcel.Rider.ContactNumber
                                                </td>
                                            }
                                            <td>@parcel.PickupLocation</td>
                                            <td>@(parcel.PickupRequestDate?.ToString("M/d/yyyy, h:mm tt"))</td>

                                            <td>@(parcel.ReturnParcel.ReturnDate.ToString("M/d/yyyy, h:mm tt"))</td>
                                            <td>
                                                <strong>Name:</strong> @parcel.ReceiverName<br>
                                                <strong>Address:</strong> @parcel.ReceiverAddress<br>
                                                <strong>Contact:</strong> @parcel.ReceiverContactNumber
                                            </td>

                                            <td>
                                                <strong>Name:</strong> @parcel.ProductName <br />
                                                <strong>Weight:</strong> @parcel.ProductWeight KG <br />
                                                <strong>Price:</strong> @parcel.ProductPrice TK <br />
                                                <strong>Quantity:</strong> @parcel.ProductQuantity <br />
                                            </td>

                                            <td>
                                                <strong>Type:</strong> @parcel.DeliveryType <br />
                                                <strong>Charge:</strong> @parcel.DeliveryCharge TK <br />
                                            </td>
                                            <td>@parcel.TotalPrice TK</td>


                                            @if (parcel.Status == "Pickup Request")
                                            {
                                                <td><span class="badge badge-success font-weight-bold">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Dispatched")
                                            {
                                                <td><span class="badge badge-warning font-weight-bold">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Transit")
                                            {
                                                <td><span class="badge badge-info text-medium">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Delivered")
                                            {
                                                <td><span class="badge badge-success text-medium">@parcel.Status</span></td>
                                            }
                                            else if (parcel.Status == "Parcel Returned To Merchant")
                                            {
                                                <td><span class="badge badge-info text-medium">Return Parcel Arrived</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-info text-medium">@parcel.Status</span></td>
                                            }

                                            <td>
                                                @if (parcel.Status == "Parcel Returned To Merchant")
                                                {
                                                    <a asp-route-id="@parcel.Id" asp-controller="Merchant" asp-action="ReturnParcelReceived" class="btn btn-sm btn-success">
                                                        <i class="fas fa-check"></i> Return Parcel Received
                                                    </a>
                                                }
                                            </td>
                                            

                                        </tr>
                                        sl++;
                                        <!-- sample modal content -->
                                       


                                        <!-- /.modal -->
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        // Wait for the document to be ready
        document.addEventListener("DOMContentLoaded", function () {
            // Get the input element
            var datepicker = document.getElementById('datepicker');

            // Get the query parameter value from the URL
            var urlParams = new URLSearchParams(window.location.search);
            var selectedDate = urlParams.get('selectedDate');

            // If selectedDate is not null, set the value of the input field
            if (selectedDate) {
                datepicker.value = selectedDate;
            }
        });
    </script>
}