@model IEnumerable<Parcel>

@{
    ViewData["Title"] = "Parcel";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <h4 class="header-title text-primary">Total Parcel : @Model.Count()</h4>

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    @{
                                        int sl = 1;
                                    }

                                    <tr>
                                        <th>SL</th>
                                        <th>ID</th>
                                        <th>Merchant</th>
                                        <th>Pickup Location</th>
                                        <th>Date</th>
                                        <th>Receiver Information</th>
                                        <th>Product</th>
                                        <th>Delivery</th>
                                        <th>Status</th>
                                        <th>Payment Status</th>
                                        <th>Action</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var parcel in Model.OrderByDescending(u=>u.DispatchDate))
                                    {
                                        <tr>
                                            <td>@sl</td>
                                            <td>@parcel.Id</td>
                                            @if (parcel.MerchantId == null)
                                            {
                                                <td><span class="badge badge-danger text-medium">Not Available</span></td>
                                            }
                                            else
                                            {

                                                <td>
                                                    <strong>Name:</strong> @parcel.Merchant.Name <br />
                                                    <strong>Phone:</strong> @parcel.Merchant.ContactNumber
                                                </td>
                                            }
                                            <td>@parcel.PickupLocation</td>
                                            <td>@(parcel.DispatchDate?.Date.ToShortDateString())</td>
                                            <td>
                                                <strong>Name:</strong> @parcel.ReceiverName<br>
                                                <strong>Address:</strong> @parcel.ReceiverAddress<br>
                                                <strong>Contact:</strong> @parcel.ReceiverContactNumber
                                            </td>

                                            <td>
                                                <strong>Name:</strong> @parcel.ProductName <br />
                                                <strong>Weight:</strong> @parcel.ProductWeight KG <br />
                                                <strong>Price:</strong> @parcel.ProductPrice TK <br />
                                                <strong>Quantity:</strong> @parcel.ProductQuantity <br />
                                            </td>

                                            <td>
                                                <strong>Type:</strong> @parcel.DeliveryType <br />
                                                <strong>Charge:</strong> @parcel.DeliveryCharge TK <br />
                                            </td>
                                            <td>
                                                @if (parcel.Status == "Pickup Request")
                                                {
                                                    <span class="badge badge-success font-weight-bold">@parcel.Status</span>
                                                }
                                                else if (parcel.Status == "Dispatch")
                                                {
                                                    <span class="badge badge-success font-weight-bold">@parcel.Status</span>
                                                }
                                                else if (parcel.Status == "Transit")
                                                {
                                                    <span class="badge badge-info text-medium">@parcel.Status</span>
                                                }
                                                else if (parcel.Status == "Delivered")
                                                {
                                                    <span class="badge badge-success text-medium">@parcel.Status</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger text-medium">@parcel.Status</span>
                                                }
                                            </td>
                                            <td>
                                                @if (parcel.PaymentStatus == "Paid")
                                                {
                                                    <span class="badge badge-success text-medium">@parcel.PaymentStatus</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger text-medium">Pending</span>
                                                }
                                            </td>
                                            <td>
                                                @if (parcel.RiderId != null)
                                                {
                                                    @if (parcel.Status == "Dispatched")
                                                    {
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="Transit" class="btn btn-sm btn-success">
                                                            <i class="fas fa-truck"></i> On Transit
                                                        </a>
                                                    }
                                                    @if (parcel.Status == "Transit")
                                                    {
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="Delivered" class="btn btn-sm btn-success">
                                                            <i class="fas fa-check"></i> Delivered
                                                        </a>
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="Cancel" class="btn btn-sm btn-danger">
                                                            <i class="fas fa-times"></i> Cancel
                                                        </a>
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="Return" class="btn btn-sm btn-warning mt-2">
                                                            <i class="fas fa-undo"></i> Return
                                                        </a>
                                                    }
                                                    @if (parcel.Status == "Delivered" && parcel.PaymentStatus != "Paid")
                                                    {
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="Payment" class="btn btn-sm btn-success">
                                                            Payment Done
                                                        </a>
                                                    }



                                                }
                                            </td>



                                        </tr>
                                        sl++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

