@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>

                            </ol>
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->


            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-warning d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Assigned For Pickup (Today)</h6>
                            <h3 class="my-3" data-plugin="counterup">@ViewBag.TodayDispatched</h3>
                        </div>
                        <i class="fas fa-truck fa-3x text-black"></i>
                    </div>

                </div>

                

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-primary d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Today Delivery Complete</h6>
                            <h3 class="my-3" data-plugin="counterup">@ViewBag.TodayDelivered</h3>
                        </div>
                        <i class="fas fa-check-circle fa-3x text-black"></i>
                    </div>
                </div>
            </div>
            <hr />
            <!-- end row -->
            

            <div class="row justify-content-center">


                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-danger d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Assigned For Delivery (Today)</h6>
                            <h3 class="my-3" data-plugin="counterup">@ViewBag.TodayDispatched</h3>
                        </div>
                        <i class="fas fa-truck fa-3x text-black"></i>
                    </div>

                </div>

                


            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">

                    <div class="card-box tilebox-one bg-warning d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Exchanged Parcel</h6>
                            <h3 class="my-3" data-plugin="counterup">@ViewBag.TotalCancelled</h3>
                        </div>
                        <i class="fas fa-times-circle fa-3x text-black"></i>
                    </div>

                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-primary d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Delivery Complete</h6>
                            <h3 class="my-3" data-plugin="counterup">@ViewBag.TotalDelivered</h3>
                        </div>
                        <i class="fas fa-check-circle fa-3x text-black"></i>
                    </div>

                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-success d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Returned Parcel</h6>
                            <h3 class="my-3" data-plugin="counterup">@ViewBag.TotalReturned</h3>
                        </div>
                        <i class="fas fa-undo fa-3x text-black"></i>
                    </div>

                </div>

                


            </div>
            <!-- end row -->
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card-box">
                        <h4 class="header-title text-success">Today's Parcel : @ViewBag.AllParcelListCount</h4>

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    @{
                                        int sl = 1;
                                    }

                                    <tr>
                                        <th>SL</th>
                                        <th>ID</th>
                                        <th>Hub</th>
                                        <th>Merchant</th>
                                        <th>Pickup Location</th>
                                        <th>Date</th>
                                        <th>Receiver Information</th>
                                        <th>Product</th>
                                        <th>Delivery</th>
                                        <th>Status</th>
                                        <th>Payment Status</th>
                                        <th>Action</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var parcel in ViewBag.AllParcelList)
                                    {
                                        <tr>
                                            <td>@sl</td>
                                            <td>@parcel.Id</td>
                                            @if (parcel.HubId == null)
                                            {
                                                <td><span class="badge badge-danger text-medium">Not Assigned</span></td>
                                            }
                                            else
                                            {

                                                <td>
                                                    <strong>Name:</strong> @parcel.Hub.Name <br />
                                                    <strong>Phone:</strong> @parcel.Hub.PhoneNumber
                                                </td>
                                            }
                                            @if (parcel.MerchantId == null)
                                            {
                                                <td><span class="badge badge-danger text-medium">Not Available</span></td>
                                            }
                                            else
                                            {

                                                <td>
                                                    <strong>Name:</strong> @parcel.Merchant.Name <br />
                                                    <strong>Phone:</strong> @parcel.Merchant.ContactNumber
                                                </td>
                                            }
                                            <td>@parcel.PickupLocation</td>
                                            <td>@(parcel.DispatchDate?.Date.ToShortDateString())</td>

                                            <td>
                                                <strong>Name:</strong> @parcel.ReceiverName<br>
                                                <strong>Address:</strong> @parcel.ReceiverAddress<br>
                                                <strong>Contact:</strong> @parcel.ReceiverContactNumber
                                            </td>

                                            <td>
                                                <strong>Name:</strong> @parcel.ProductName <br />
                                                <strong>Weight:</strong> @parcel.ProductWeight KG <br />
                                                <strong>Price:</strong> @parcel.ProductPrice TK <br />
                                                <strong>Quantity:</strong> @parcel.ProductQuantity <br />
                                            </td>

                                            <td>
                                                <strong>Type:</strong> @parcel.DeliveryType <br />
                                                <strong>Charge:</strong> @parcel.DeliveryCharge TK <br />
                                            </td>
                                            <td>
                                                @if (parcel.Status == "Pickup Request")
                                                {
                                                    <span class="badge badge-success font-weight-bold">@parcel.Status</span>
                                                }
                                                else if (parcel.Status == "Assigned A Rider For Pickup")
                                                {
                                                    <span class="badge badge-success font-weight-bold">Assigned For Pickup</span>
                                                }
                                                else if (parcel.Status == "Assigned For Delivery")
                                                {
                                                    <span class="badge badge-info text-medium">@parcel.Status</span>
                                                }
                                                else if (parcel.Status == "Delivered")
                                                {
                                                    <span class="badge badge-success text-medium">@parcel.Status</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger text-medium">@parcel.Status</span>
                                                }
                                            </td>
                                            <td>
                                                @if (parcel.PaymentStatus == "Paid")
                                                {
                                                    <span class="badge badge-success text-medium">@parcel.PaymentStatus</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger text-medium">Pending</span>
                                                }
                                            </td>
                                            <td>
                                                @if (parcel.RiderId != null)
                                                {
                                                    @if (parcel.Status == "Assigned A Rider For Pickup")
                                                    {
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="PickedUp" class="btn btn-sm btn-success">
                                                            <i class="fas fa-truck"></i> Picked Up
                                                        </a>
                                                    }
                                                    @if (parcel.Status == "Assigned For Delivery")
                                                    {
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="ParcelOntheWay" class="btn btn-sm btn-success">
                                                            <i class="fas fa-truck"></i> Parcel On the Way
                                                        </a>
                                                    }
                                                    @if (parcel.Status == "Parcel On The Way")
                                                    {
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="Delivered" class="btn btn-sm btn-success">
                                                            <i class="fas fa-check"></i> Delivered
                                                        </a>
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="Cancel" class="btn btn-sm btn-danger">
                                                            <i class="fas fa-times"></i> Exchange
                                                        </a>
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="Return" class="btn btn-sm btn-warning mt-2">
                                                            <i class="fas fa-undo"></i> Return
                                                        </a>
                                                    }
                                                    @if (parcel.Status == "Delivered" && parcel.PaymentStatus != "Paid")
                                                    {
                                                        <a asp-route-id="@parcel.Id" asp-controller="Rider" asp-action="Payment" class="btn btn-sm btn-success">
                                                            Collect Payment
                                                        </a>
                                                    }



                                                }
                                            </td>



                                        </tr>
                                        sl++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>




            </div>
            <!-- end row -->

        </div> <!-- end container-fluid -->

    </div> <!-- end content -->





</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
