@model CourierService_Web.Models.Zone

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    string AdminId = Context.Request.Cookies["AdminId"];
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row mt-5 justify-content-center align-content-center">
                <div class="col-lg-6">
                    <div>
                        <h4 class="header-title">Edit Zone</h4>

                        <form method="post" enctype="multipart/form-data" action="@Url.Action("EditZone", "Admin")">

                            <input type="hidden" asp-for="Id" />

                            <!-- Zone edit form fields -->
                            <div class="form-group">
                                <label asp-for="Name" for="Name">Name<span class="text-danger">*</span></label>
                                <input asp-for="Name" type="text" name="Name" parsley-trigger="change" required
                                       placeholder="Enter Name" class="form-control" id="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label for="DistrictId">Select District<span class="text-danger">*</span></label>
                                <select name="DistrictId" class="form-control">
                                    @foreach (var district in ViewBag.Districts)
                                    {
                                        @if(district.Id == Model.DistrictId)
                                        {
                                            <option value="@district.Id" selected>@district.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@district.Id">@district.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            
                            <div class="form-group">
                                <label for="HubId">Select Hub<span class="text-danger">*</span></label>
                                <select name="HubId" class="form-control">
                                    @foreach (var hub in ViewBag.Hub)
                                    {
                                        @if(hub.Id == Model.HubId)
                                        {
                                            <option value="@hub.Id" selected>@hub.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@hub.Id">@hub.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group text-right mb-0">
                                <button asp-controller="Admin" asp-action="EditZone" class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                                    Update Zone
                                </button>
                                <a asp-action="Index" asp-controller="Admin" class="btn btn-secondary waves-effect">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>

@section Scripts {
    @* Add scripts if needed *@
}
