@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@{
    string AdminEmail = Context.Request.Cookies["AdminEmail"];
}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->


<!-- Your HTML code with <i> tags -->
<div class="content-page">
    <div class="content">
        <style>
            /* Make all <i> tags black */
            i {
                text-decoration: none !important;
                color: black;
            }

            /* Remove text decoration from all <i> tags */
            i {
            }
        </style>
        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                               
                            </ol>
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->



            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <a asp-action="Rider" asp-controller="Admin">
                        <div class="card-box tilebox-one bg-pink d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Riders</h6>
                                <h3 class="my-3" data-plugin="counterup">@ViewBag.RiderCount</h3>
                            </div>
                            <i class="fas fa-motorcycle fa-3x text-black"></i>
                        </div>
                    </a>
                </div>


                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Merchant", "Admin")">
                        <div class="card-box tilebox-one bg-success d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Merchant</h6>
                                <h3 class="my-3"><span data-plugin="counterup">@ViewBag.MerchantCount</span></h3>
                            </div>
                            <i class="fas fa-store fa-3x text-black"></i>
                        </div>
                    </a>
                </div>


                @* <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-info d-flex align-items-center justify-content-between">
                        <div>
                            <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Parcel</h6>
                            <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalParcel</span></h3>
                        </div>
                        <i class="fas fa-boxes fa-3x text-black"></i>
                    </div>
                </div> *@
                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Hub", "Admin")">
                        <div class="card-box tilebox-one bg-info d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Hub</h6>
                                <h3 class="my-3"><span data-plugin="counterup">@ViewBag.HubCount</span></h3>
                            </div>
                            <i class="fas fa-warehouse fa-3x text-black"></i>
                        </div>
                    </a>
                </div>

            </div>
            <hr />
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Parcel", "Admin")">
                        <div class="card-box tilebox-one bg-warning d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Today Pending Pickup Request</h6>
                                <h3 class="my-3" data-plugin="counterup">@ViewBag.TodayPickupRequest</h3>
                            </div>
                            <i class="fas fa-truck-loading fa-3x text-black"></i>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Parcel", "Admin")">
                        <div class="card-box tilebox-one bg-primary d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Today Delivery Complete</h6>
                                <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TodayDelivered</span></h3>
                            </div>
                            <i class="fas fa-check-circle fa-3x text-black"></i>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Parcel", "Admin")">
                        <div class="card-box tilebox-one bg-warning d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Assigned For Pickup</h6>
                                <h3 class="my-3"><span data-plugin="counterup">@ViewBag.AssignedForPickup</span></h3>
                            </div>
                            <i class="fas fa-shopping-cart fa-3x text-black"></i>
                        </div>
                    </a>
                </div>

                <!-- Add more similar blocks here -->

            </div>

            <!-- Other blocks -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Parcel", "Admin")">
                        <div class="card-box tilebox-one bg-warning d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Parcel In Hub</h6>
                                <h3 class="my-3" data-plugin="counterup">@ViewBag.InHub</h3>
                            </div>
                            <i class="fas fa-warehouse fa-3x text-black"></i>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Parcel", "Admin")">
                        <div class="card-box tilebox-one bg-success d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Parcel On The Way</h6>
                                <h3 class="my-3"><span data-plugin="counterup">@ViewBag.OnTheWay</span></h3>
                            </div>
                            <i class="fas fa-shipping-fast fa-3x text-black"></i>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Parcel", "Admin")">
                        <div class="card-box tilebox-one bg-primary d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Assigned For Delivery</h6>
                                <h3 class="my-3"><span data-plugin="counterup">@ViewBag.AssignedForDelivery</span></h3>
                            </div>
                            <i class="fas fa-truck fa-3x text-black"></i>
                        </div>
                    </a>
                </div>

                <!-- Add more similar blocks here -->

            </div>

            <!-- Other blocks -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Parcel", "Admin")">
                        <div class="card-box tilebox-one bg-warning d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Delivery Complete</h6>
                                <h3 class="my-3" data-plugin="counterup">@ViewBag.TotalDelivery</h3>
                            </div>
                            <i class="fas fa-check-circle fa-3x text-black"></i>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Parcel", "Admin")">
                        <div class="card-box tilebox-one bg-success d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Returned Parcel</h6>
                                <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalReturn</span></h3>
                            </div>
                            <i class="fas fa-undo fa-3x text-black"></i>
                        </div>
                    </a>
                </div>

                @* <div class="col-md-6 col-xl-3">
                    <a href="@Url.Action("Parcel", "Admin")">
                        <div class="card-box tilebox-one bg-primary d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Exchanged Parcel</h6>
                                <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalExchange</span></h3>
                            </div>
                            <i class="fas fa-exchange-alt fa-3x text-black"></i>
                        </div>
                    </a>
                </div> *@

                <!-- Add more similar blocks here -->

            </div>


        <div class="card mx-auto" style="max-width: 400px;">
            <div class="card-body">
                <h5 class="card-title text-center">Accounts</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Amount Collection</th>
                            <td>@ViewBag.TodayMerchantPayment BDT</td>
                        </tr>
                        
                        <tr>
                            <th scope="row">Delivery Charge</th>
                            <td>@ViewBag.TotalDeliveryCharge BDT</td>
                        </tr>
                        <tr>
                            <th scope="row"> Total COD (Cash on Delivery)</th>
                            <td>@ViewBag.TotalCOD BDT</td>
                        </tr>
                        <tr>
                            <th scope="row">Amount Payable</th>
                            <td>@ViewBag.AmountPayable BDT</td>
                        </tr>
                        
                        <tr>
                            <th scope="row">Total Profit</th>
                            <td>@ViewBag.Profit BDT</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

       @*  <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    
                    <h4 class="header-title text-primary">Today's Parcel : @ViewBag.TodayPickupRequest</h4>
                   
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>ID</th>
                                    <th>Merchant Name</th>
                                    <th>Rider</th>
                                    <th>Pickup Location</th>
                                    <th>Pickup Request Date</th>
                                    <th>Receiver Information</th>
                                    

                                    <th>Product</th>
                                    
                                    <th>Delivery</th>

                                    <th>Total Price</th>
                                    <th>Status</th>
                                    <th>Payment Status</th>
                                    <th>Payment</th>
                                    <th>Action</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int sl = 1;
                                }
                                @foreach (var parcel in ViewBag.TodayParcelList)
                                {
                                    <tr>
                                        <td>@sl</td>
                                        <td>@parcel.Id</td>
                                        <td>@parcel.Merchant.Name</td>
                                        @if (parcel.RiderId == null)
                                        {
                                            <td><span class="badge badge-danger text-medium">Not Assigned</span></td>
                                        }
                                        else
                                        {
                                            <td>
                                                <strong>Name:</strong> @parcel.Rider.Name <br />
                                                <strong>Phone:</strong> @parcel.Rider.ContactNumber
                                            </td>
                                        }
                                        <td>@parcel.PickupLocation</td>
                                        <td>@(parcel.PickupRequestDate?.Date.ToShortDateString())</td>
                                        <td>
                                            <strong>Name:</strong> @parcel.ReceiverName<br>
                                            <strong>Address:</strong> @parcel.ReceiverAddress<br>
                                            <strong>Contact:</strong> @parcel.ReceiverContactNumber
                                        </td>

                                        <td>
                                            <strong>Name:</strong> @parcel.ProductName <br />
                                            <strong>Weight:</strong> @parcel.ProductWeight KG <br />
                                            <strong>Price:</strong> @parcel.ProductPrice TK <br />
                                            <strong>Quantity:</strong> @parcel.ProductQuantity <br />
                                        </td>

                                        <td>
                                            <strong>Type:</strong> @parcel.DeliveryType <br />
                                            <strong>Charge:</strong> @parcel.DeliveryCharge TK <br />
                                        </td>


                                        <td>@parcel.TotalPrice TK</td>


                                        @if (parcel.Status == "Pickup Request")
                                        {
                                            <td><span class="badge badge-success font-weight-bold">@parcel.Status</span></td>
                                        }
                                        else if (parcel.Status == "Dispatch")
                                        {
                                            <td><span class="badge badge-success font-weight-bold">@parcel.Status</span></td>
                                        }
                                        else if (parcel.Status == "Transit")
                                        {
                                            <td><span class="badge badge-info text-medium">@parcel.Status</span></td>
                                        }
                                        else if (parcel.Status == "Delivered")
                                        {
                                            <td><span class="badge badge-success text-medium">@parcel.Status</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge badge-danger text-medium">@parcel.Status</span></td>
                                        }





                                        <td>
                                            @if (parcel.PaymentStatus == "Paid")
                                            {
                                                <span class="badge badge-success text-medium">@parcel.PaymentStatus</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger text-medium">Pending</span>
                                            }
                                        </td>
                                        <td>
                                            @if (parcel.PaymentStatus == "Paid" && parcel.PaymentInHand == null)
                                            {
                                                <a asp-route-id="@parcel.Id" asp-action="PaymentInHand" class="btn btn-xs btn-success">
                                                    <i class="fas fa-check"></i>
                                                    Payment In Hand
                                                </a>
                                                <a asp-route-id="@parcel.Id" asp-action="PaymentNotInHand" class="btn btn-xs btn-danger">
                                                    <i class="fas fa-check"></i>
                                                    Not In Hand
                                                </a>
                                            }
                                            else if (parcel.PaymentStatus == "Paid" && parcel.PaymentInHand == "PaymentInHand")
                                            {
                                                <span class="badge badge-warning text-medium">In Hand</span>
                                            }
                                            else if (parcel.PaymentStatus == "Paid" && parcel.PaymentInHand == "PaymentNotInHand")
                                            {
                                                <span class="badge badge-danger text-medium">Not In Hand</span>

                                                <a asp-route-id="@parcel.Id" asp-action="PaymentInHand" class="btn btn-xs btn-success"><i class="fas fa-check"></i>Payment In Hand</a>
                                            }



                                        </td>
                                        @if (parcel.RiderId == null)
                                        {
                                            <td>
                                                <a asp-action="AssignParcel" asp-route-id="@parcel.Id" asp-controller="Home" class="btn btn-sm btn-warning">
                                                    <i class="fas fa-plus-circle"></i> Assign Rider

                                                </a>

                                            </td>
                                        }
                                        else
                                        {
                                            <td>

                                                <span class="badge badge-success text-medium">Rider Assigned</span>
                                               
                                            </td>
                                        }
                                        @if(AdminEmail == "flyerbd@gmail.com")
                                        {
                                        <td>
                                            <!-- Button trigger modal -->
                                            <button class="btn btn-sm btn-danger waves-effect waves-light" data-toggle="modal" data-target="#myModal_@parcel.Id">
                                                <i class="fas fa-trash"></i>
                                                Delete
                                            </button>

                                            <!-- Modal -->
                                            <div id="myModal_@parcel.Id" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="myModalLabel">Delete Parcel</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h5 class="font-16">Are you sure you want to delete this parcel?</h5>
                                                            <!-- Display parcel details here if needed -->
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                                                            <a asp-route-id="@parcel.Id" asp-action="DeleteParcel" class="btn btn-danger">
                                                                <i class="fas fa-trash"></i>
                                                                Delete
                                                            </a>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->



                                        </td>

                                        }
                                       

                                    </tr>
                                    <!-- sample modal content -->
                                    sl++;


                                    <!-- /.modal -->
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> *@


        </div> <!-- end container-fluid -->

    </div> <!-- end content -->





</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
