@model IEnumerable<RiderPayment>

@{
    ViewData["Title"] = "Rider Payment List";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card-box">
                        <h4 class="header-title text-success">Rider Payment List</h4>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Rider Name</th>
                                        <th>Total Amount</th>
                                        <th>Paid Amount</th>
                                        <th>Due Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sl = 1;
                                    }
                                    @foreach (var payment in Model)
                                    {
                                        <tr>
                                            <td>@sl</td>
                                            <td>@payment.Rider.Name</td>
                                            <td>@ViewBag.AmountCollected</td>
                                            <td>@ViewBag.HubReceivedAmount</td>
                                            <td>@ViewBag.DueAmount</td>
                                        </tr>
                                        sl++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
